API_BASE_URL=http://127.0.0.1:8003
MEDIAMTX_RTMP_BASE_URL=rtmp://127.0.0.1:1935
MEDIAMTX_RTSP_BASE_URL=rtsp://127.0.0.1:8554
ARCOM_OUT_DIR=/root/robiotec/arcom
ARCOM_BATCH_SIZE=500
ARCOM_LAYER_NAME=catastro_minero
OSINT_OUT_DIR=/root/robiotec/osint
OSINT_BASE_URL=https://vectorinternational.ai/api
UV_BIN=/root/.local/bin/uv
